body{
    background-image: url(img/Dutch+Garden-7.jpg);
}
.heading{
   
    text-align: center;
height: 147px;
padding-top: 20px;

background: rgba(250, 247, 224, 0.85);
}
.container{
    padding-top: 20px;
}
h1{
    position: absolute;
width: 601px;
height: 148px;

font-family: 'Junge';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;

color: #000000;

}
.navbar{
    text-align: center;
    width: 600px;
}
.nav-link {
    color:darksalmon;
}
