body{
    background-image: url(img/Dutch+Garden-7.jpg);
}
.heading{
   
    text-align: center;
height: 147px;
padding-top: 20px;

background: rgba(250, 247, 224, 0.85);
}
.container{
    padding-top: 20px;
}
h1{
    position: absolute;
width: 601px;
height: 148px;

font-family: 'Junge';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;

color: #000000;

}
.navbar{
    text-align: center;
    width: 600px;
}
.nav-link {
    color:darksalmon;
}
.about{
    text-align: center;
height: 450px;
padding-top: 20px;
border: 3px;
background: rgba(250, 247, 224, 0.85);

}
h3{
    position: absolute;
   
    
    font-family: 'Junge';
    font-style: normal;
    font-weight: 400;
    
    line-height: 78px;
    
    color: #000000;
}
.info{
    text-align: center;
height: 300px;
padding-top: 20px;

background: rgba(250, 247, 224, 0.85);

}
.footer{
    position: absolute;
    width: 1500px;
    height: 239px;
    background: rgba(250, 247, 224, 0.85);
}
h5{
    position: absolute;
   
    
    font-family: 'Junge';
    font-style: normal;
    font-weight: 400;
    
    line-height: 78px;
    
    color: #000000;
}